<!DOCTYPE html>
<html class="noScroll">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Boostrap 4 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/ingredients.css" >
        
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

    <style>

      body
      {
        width: 30rem;
        height: 37.5rem;
        font-family: 'Rock Salt', cursive;
      }

      button
      {
        height: auto;
        width: auto;
      }

      form {
          padding: 2rem;
      }

      
    </style>
  </head>
  <body class="noScroll">

    <div id="loading-wrapper">
      <div id="loading-text">LOADING</div>
      <div id="loading-content"></div>
    </div>
    <div id="mainMenu">
      <form>
          <div class="form-group">
              <!-- <label for="ingredientsDescription">Grocery List</Label> -->
              <!-- <textarea class="form-control" id="ingredientsDescription" rows="10" placeholder="Veggetables"></textarea> -->
              <div id="veggie_div">
                <label>Vegetable List</label>
                <textarea class="form-control" id="vegetable" rows="10" placeholder=""></textarea>
              </div>
              
              <div id="fruit_div">
                <label>Fruit List</label>
                <textarea class="form-control" id="fruit" rows="10" placeholder=""></textarea>
              </div>

              <div id="meat_div">
                <label>Meat List</label>
                <textarea class="form-control" id="meat" rows="10" placeholder=""></textarea>
              </div>

              <div id="fridge_div">
                <label>Fridge List</label>
                <textarea class="form-control" id="fridge" rows="10" placeholder=""></textarea>
              </div>

              <div id="seafood_div">
                <label>Seafood List</label>
                <textarea class="form-control" id="seafood" rows="10" placeholder=""></textarea>
              </div>

              <div id="freezer_div">
                <label>Freezer List</label>
                <textarea class="form-control" id="freezer" rows="10" placeholder=""></textarea>
              </div>

              <div id="dry_goods_div">
                <label>Dry Goods List</label>
                <textarea class="form-control" id="dry goods" rows="10" placeholder=""></textarea>
              </div>

              <div id="etc_div">
                <label>Etc List</label>
                <textarea class="form-control" id="etc" rows="10" placeholder="Etc"></textarea>
              </div>
              
            </div>
          <button id="back" type="button" class="btn btn-secondary">
              Back
          </button>
      </form>
    </div>

    <script src="https://unpkg.com/numeric-quantity"></script>
    <script type="module" src="../scripts/ingredients.js"></script>
     <!-- Boostrap JS -->
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  </body>
</html>
<!--https://www.allrecipes.com/recipe/237637/miso-glazed-black-cod/
  https://www.allrecipes.com/recipe/166624/tomato-basil-salmon/ ---->