<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Boostrap 4 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../stylesheets/recipe.css" >
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

        <style>

        body
        {
            width: 30rem;
            height: 36rem;
            font-family: 'Rock Salt', cursive;
        }

        #pageTitle
        {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            text-align: center;
            background-color: aqua;
        }

        button
        {
            height: auto;
            width: auto;
        }

        form
        {
            padding: 2rem;
        }

        
        </style>
    </head>
    <body>
        <!-- fade show -->
        <div class="alert alert-warning alert-dismissible collapse" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div id="mainMenu">
            <form>
                <div class="form-group">
                <label for="recipeName">Recipe Name</Label>
                <input type="name" class="form-control storage" id="recipeName" placeholder="">
                </div>
                <div class="form-group">
                    <label for="recipeDescription">Copy & Paste Here</Label>
                    <textarea class="form-control storage" id="recipeDescription" rows="10" placeholder=""></textarea>
                </div>
                <button id="add" type="button" class="btn btn-primary">
                    Add Recipe
                </button>
                <button id="back" type="button" class="btn btn-secondary">
                    Back
                </button>
            </form>
        </div>
        
        <!-- Boostrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- Custom Scripts-->
        <script type="module" src="../scripts/recipe.js"></script>

    </body>
</html>