html, body 
{
  margin: 0;
}

body 
{
  background-color: #171b26;
  border-radius: 2em;
  height: 100%;
}

label
{
  color: #47c2be;
}

#mainMenu
{
  background-color: #343e56;
  padding: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  /* height: 35em; */
  border-radius: 2em;
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: 130px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}


  
  
#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header
{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#content
{
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}

#ingredientsDescription
{
  background-color: #fff4b4;
}

.fadeIn {
  animation: fadeIn .5s ease-in 1 forwards;
}
.fadeOut {
  animation: fadeOut .5s ease-out 1 forwards;
}
.slideDown {
  animation: slideDown .5s ease-in 1 forwards;               
}
.slideUp {
  animation: slideUp 1s ease-out 1 forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    opacity: 0;
    top: 130px;
  }
}
@keyframes slideDown {
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
      top: 130px;
      opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.noScroll
{
  overflow: hidden;
}

/* width */
::-webkit-scrollbar 
{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb
{
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
  background: #555;
}

