body
{
    /* background-color: #47c2be; */
    background-color: #171b26;
    /* light color #343e56 */
    /* mediu color #293143 */
    /* dark color #576170; */
}

#mainMenu
{
    background-color: #343e56;
    padding: 2em;
    margin: 1em;
    height: 35em;
    border-radius: 2em;
}

#add
{
    margin-top: 2em;
}