body
{
  background-color: #171b26;
}

body.shake {
  animation: shake 1s infinite;
}

html, body {margin: 0; height: 100%; overflow: hidden}

label
{
  color: #47c2be;
}

#mainMenu
{
  background-color: #343e56;
  padding: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  height: 35em;
  border-radius: 2em;
  opacity: 0;
  position: relative;
  top: 130px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

#add
{
  background-color: #47c2be;
  color: #343e56;
  border-color: #47c2be;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

#add:hover 
{
  background-color: #343e56;
  border-color: #47c2be;
  color: #47c2be;
}

#back
{
  background-color: #576170;
  color: white;
  border-color: #576170;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

#back:hover 
{
  color: white;
  background-color: #293143;
  border-color: #293143;
}

#recipeDescription
{
  background-color: #fff4b4;
  /* Added this attribute to allow formatting to be retained  */
  white-space: pre-wrap;
  font-family: 'Oswald', sans-serif;
}

#recipeName
{
  background-color: #fff4b4;
  font-family: 'Oswald', sans-serif;
}

.fadeIn {
  animation: fadeIn .5s ease-in 1 forwards;
}
.fadeOut {
  animation: fadeOut .5s ease-out 1 forwards;
}
.slideDown {
  animation: slideDown .5s ease-in 1 forwards;               
}
.slideUp {
  animation: slideUp 1s ease-out 1 forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    opacity: 0;
    top: 130px;
  }
}
@keyframes slideDown {
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
      top: 130px;
      opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.fade {
  position: absolute;
  /* transition-duration: 0.25s; */
  transition-duration: 0.125s;
  top: 2em;
  z-index: 10;
  left: 10%;
  right: 10%;
  width: auto;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(0.5em);
  }
  40% {
    transform: translate(-0.5em);
  }
  60% {
    transform: translate(0.5em);
  }
  80% {
    transform: translate(-0.5em);
  }
  100% {
    transform: translate(0);
  }
}