body
{
    /* background-color: #47c2be; */
    background-color: #171b26;
    /* light color #343e56 */
    /* mediu color #293143 */
    /* dark color #576170; */
}

label
{
    color: #47c2be;
}

#mainMenu
{
    background-color: #343e56;
    padding: 2em;
    margin: 1em;
    height: 35em;
    border-radius: 2em;
}

#add
{
    background-color: #47c2be;
    color: #343e56;
    border-color: #47c2be;

}

#add:hover 
{
    /* color: #576170; */
    background-color: #343e56;
    border-color: #47c2be;
    color: #47c2be;

}

#back
{
    background-color: #576170;
    color: white;
    border-color: #576170;
}

#back:hover 
{
    color: white;
    background-color: #293143;
    border-color: #293143;
}

#recipeDescription
{
    background-color: #fff4b4;
    /* Added this attribute to allow formatting to be retained  */
    white-space: pre-wrap;
}

#recipeName
{
    background-color: #fff4b4;
}